body {
  color: #4d4e53;
  background-color: #ffffff;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

#navbar {
  min-width: 290px;
  position: fixed;
  left: 0;
  top: 0;
  border-right: 4px solid darkgray;
  height: 100%;
  width: 300px;
}

header {
  color: black;
  margin: 10px;
  text-align: center;
  font-size: 25px;
}

#main-doc header {
  text-align: left;
  margin: 0;
}

#navbar ul {
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  color: #4d4e53;
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: #4d4e53;
  text-decoration: none;
  cursor: pointer;
}

#main-doc {
  position: absolute;
  margin-left: 25%;
  padding: 20px;
  margin-bottom: 100px;
}

section {
  color: #4d4e53;
  margin: 15px;
}

section li {
  margin: 15px 0px 0px 20px;
}

code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

@media only screen and (max-width: 1024px) {
    #main-doc {
        margin-left: 27%;
    }
}

@media only screen and (max-width: 815px) {
  #navbar ul {
    border: 1px solid;
    height: 207px;
  }

  #navbar {
    width: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
    #main-doc {
    padding: 0;
  }

  section {
      margin: 0;
      padding: 10px;
  }

  section ul {
      padding: 0;
  }

  code {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
  }
}
